.o-category-tag {
  color: $category-tag-color;
  margin-bottom: $space;
  @include font-family(univers-roman);
  @include font-size(12);
  @include av-mq(desk){
    margin-bottom: $space-small * 3;
  }
}
