.o-copy {
  &, & p {
    margin-bottom: $space;
    @include font-size(16);
    @include hide_last_margin;

    @include av-mq(desk){
      margin-bottom: $space-small * 3;
      @include font-size(24);
    }
  }
}
