.o-heading {
  line-height: 29px;
  @include font-family(us-regular);
  @include hide_last_margin;
  @include font-size(24);
}

.o-heading--large {
  line-height: 39px;
  margin-bottom: $space-tiny;
  @include font-size(34);
  @include av-mq(desk){
    line-height: 50px;
    @include font-size(45);
  }
}

.o-heading--huge {
  line-height: 39px;
  margin-bottom: $space-large;
  @include font-size(34);

  @include av-mq(desk){
    line-height: 85px;
    margin-bottom: $space-huge;
    @include font-size(80);
  }
}

.o-heading--gigantic {
  line-height: 1;
  margin-bottom: $space;
  @include font-size(56);

  @include av-mq(desk){
    margin-bottom: $space-large;
    @include font-size(144);
  }
}
