.l-flex {
  display: flex;
  height: 100%;
}

.l-flex--middle {
  align-items: center;
}

.l-flex--right {
  justify-content: flex-end;
}

.l-flex--center-middle {
  align-items: center;
  justify-content: center;
}

.l-flex--space-between {
  justify-content: space-between;
}

.l-flex--column {
  flex-direction: column;
}

.l-flex--flex-end {
  align-items: flex-end;
}
