// How defined colour vars are to be used

//General
$darkener-color: $cinder;
$link-color: $black;
$category-tag-color: rgba(255, 255, 255, 0.7);

// Header
$header-bg-color: $white;
$header-border-color: $white-smoke;

// Primary Nav
$primary-nav-border-color: $white-smoke;
$primary-nav-bg-color: $white;
$primary-nav-index-color: $aluminium;
$primary-nav-entry-hover-color: $aluminium;
$search-copy-color: $aluminium;

// Hero
$hero-copy-color: $white;

// Panel Card
$panel-card-darkener-color: $cod-grey;
$panel-card-copy-color: $white;
$panel-card-copy-color-cinder: $cinder;

//Pre Footer
$pre-footer-bg-color: $cod-grey;
$pre-footer-border-color: rgba(255, 255, 255, 0.05);
$subscribe-input-color: $white;
$subscribe-placeholder-color: $aluminium;

// Footer
$footer-bg-color: $cinder;
$footer-copy-color: $white;
