// Use http://www.color-blindness.com/color-name-hue/ to get a name for hex value variable

$white: #ffffff;
$black: #000000;
$prussian-blue: #0073C4;
$white-smoke: #F4F4F4;
$cinder: #222729;
$golden-yellow: #FFDD08;
$navy-blue: #0077C0;
$cod-grey: #2D3234;
$aluminium: #919394;
$athens-grey: #E8E9E9;
