@font-face {
  font-family: 'UniversLTStd-Light';
  src: url('/fonts/UniversLTStd-Light/UniversLTStd-Light.woff') format('woff');
}

@font-face {
  font-family: 'UniversLTStd';
  src: url('/fonts/UniversLTStd/UniversLTStd.woff') format('woff');
}

@font-face {
  font-family: 'UrbanSplashLight-Regular';
  src: url('/fonts/UrbanSplashLight-Regular/UrbanSplashLight-Regular.woff') format('woff');
}

@font-face {
  font-family: 'UrbanSplashMedium-Regular';
  src: url('/fonts/UrbanSplashMedium-Regular/UrbanSplashMedium-Regular.woff') format('woff');
}

@mixin font-family($font-family) {
  @if ($font-family == "univers-light")  { font-family: 'UniversLTStd-Light', Helvetica, Arial, sans-serif; }
  @if ($font-family == "univers-roman")  { font-family: 'UniversLTStd', Helvetica, Arial, sans-serif; }
  @if ($font-family == "us-regular") { font-family: 'UrbanSplashLight-Regular', Arial, sans-serif; }
  @if ($font-family == "us-medium") { font-family: 'UrbanSplashMedium-Regular', Arial, sans-serif; }}
